<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.couriersystem/menu.application.title" opened="true">
        <item view="RequestCourierEntity.list"
              title="msg://com.company.couriersystem.view.requestcourierentity/requestCourierEntityListView.title"/>
        <item view="MyCurrentDelivery.detail"
              title="msg://com.company.couriersystem.view.requestcourierentity/myCurrentDelivery.title"/>
    </menu>

</menu-config>