<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.ordersystem/menu.application.title" opened="true">
        <item view="RestaurantsOrderView"
              title="msg://com.company.ordersystem.view.restaurantsorder/restaurantsOrderView.menu.title"/>
        <item view="Order.list"
              title="msg://com.company.ordersystem.view.restaurantsorder.order/draftOrderListView.title"/>
    </menu>

</menu-config>